
h1 {
  margin: 30px;
  text-align: center;
 }

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    /* border: 1px solid black; */
    justify-content: center;
    /* align-items: center; */
}

.no-matches {
  font-size: 2rem;
  font-weight: bold;
  color: #860a0a;
  background-color: rgb(231, 199, 19);
  padding: 1rem;
}

