
h1 {
  margin: 30px;
  text-align: center;
  color: #3b2b16;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    /* border: 1px solid black; */
    justify-content: center;
    /* align-items: center; */
}

.no-matches {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(194, 30, 30);
  background-color: rgb(253, 187, 3);
  padding: 1rem;
  margin-top: 2rem;
}

