li {
    border: 0.8rem solid black;
    border-radius: 3%;
    
    text-align: center;
    background-color: rgb(255, 255, 255);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px 5px #ffaa00;;
}

.character-card-img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    
}

.character-card-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.character-card-species {
    font-size: 1rem;
    padding-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black;
}