.character-detail-img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}

.character-detail {
  display: flex;
  gap: 3rem;
  justify-content: center;
  border: 8px solid black;
  border-radius: 2%;
  //background-color: #C9B387;
 margin-inline: 35rem;
 background-color: rgb(255, 255, 255);
  
  

  
 
  
  

}

.character-detail-name-img {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
  padding-bottom: 1.5rem;
  
  width: 20rem;
  height: auto;
 
  

  
}

.character-detail-props {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  
  width: 20rem;
  height: auto;
  
  
  
}

.character-detail-name {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  
}

