
h1 {
  margin: 30px;
  text-align: center;
 }

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    /* border: 1px solid black; */
    justify-content: center;
    /* align-items: center; */
}