


 .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



.logo {
  width: 40rem;
  margin-top: 3rem;
}

h3 {
  text-align: center;
  padding-top: 2rem;
  color: #3b2b16;
}