@use 'core/reset';
@use 'components/header';
@use 'components/charactersList';
@use 'components/characterCard';
@use 'components/filters';
@use 'components/characterDetail';



body {
    font-family: 'Milonga';
  background-image: url("/src/images/background.png");
  background-position: center; 
  margin-bottom: 2rem;
  color: #3b2b16;
  
  
  
}

* {
  cursor: url("/public/images/wand1.png"), auto; //cambia el cursor de toda la aplicacion web
}




